/* CSS file */
/* embedded font */
@font-face {
	src:url("assets/Charrington.ttf");
	fontFamily: myFont;
	/*flashType: true;*/
	advancedAntiAliasing:true;
}

/* embedded font, bold */
@font-face {
	src:url("assets/CharringtonBold.ttf");
	fontFamily: myFont;
/*	flashType: true;*/
	advancedAntiAliasing:true;
	fontWeight: bold;
}

/* Must use embedded font (bold version) for
*  VerticalTabNavigator's TabBar because rotating
*  text in the flash player requires that the fonts
*  be embedded and not system fonts. Using global
*  selector here for convenience.
*/
TabNavigator{
	fontFamily:myFont;
	fontSize:15pt;
}
